<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		<sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System">
			<section name="DevExpress.LookAndFeel.Design.AppSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
		</sectionGroup>
	 <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="DevExpress.MailClient.Win.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<applicationSettings>
		<DevExpress.LookAndFeel.Design.AppSettings>
			<setting name="DefaultAppSkin" serializeAs="String">
				<value>Skin/Office 2019 Colorful</value>
			</setting>
			<setting name="DefaultPalette" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CompactUI" serializeAs="String">
				<value></value>
			</setting>
			<setting name="TouchScaleFactor" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DirectX" serializeAs="String">
				<value>True</value>
			</setting>
			<setting name="RegisterUserSkins" serializeAs="String">
				<value></value>
			</setting>
			<setting name="RegisterBonusSkins" serializeAs="String">
				<value></value>
			</setting>
			<setting name="FontBehavior" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DefaultAppFont" serializeAs="String">
				<value></value>
			</setting>
			<setting name="DPIAwarenessMode" serializeAs="String">
				<value></value>
			</setting>
			<setting name="CustomPaletteCollection" serializeAs="Xml">
				<value />
			</setting>
		</DevExpress.LookAndFeel.Design.AppSettings>
	</applicationSettings>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<entityFramework>
		<defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
		<providers>
			<provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
		</providers>
	</entityFramework>
	<connectionStrings>
  <add name="DEVEXPRESSConnectionString" connectionString="Data Source=(local);Initial Catalog=DEVEXPRESS_20;Trusted_Connection=True" />
  <add name="DevExpress.MailClient.Win.Properties.Settings.DEVEXPRESSConnectionString"
   connectionString="Data Source=(local);Initial Catalog=DEVEXPRESS_20;Integrated Security=True"
   providerName="System.Data.SqlClient" />
 </connectionStrings>
	<appSettings>
		<add key="Locale" value="pl-PL"/>
	</appSettings>
 <userSettings>
  <DevExpress.MailClient.Win.Properties.Settings>
   <setting name="RememberLanguagePreferences" serializeAs="String">
    <value>False</value>
   </setting>
   <setting name="LanguagePreferences" serializeAs="String">
    <value>pl-PL</value>
   </setting>
  </DevExpress.MailClient.Win.Properties.Settings>
 </userSettings>
</configuration>