################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/DevExpress.MailClient.Win/bin/Debug
/.vs
/MailClient.Data/bin/Debug
/MailClient.Data/obj/Debug
/MailClient.Data.Service.Library/bin/Debug
/MailClient.Data.Service.Library/obj/Debug
/packages/EntityFramework.6.0.2
