################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MailClient.Data.Service.Library/obj/Debug/MailClient.Service.Library.pdb
/MailClient.Data.Service.Library/obj/Debug/MailClient.Service.Library.dll
/MailClient.Data.Service.Library/obj/Debug/MailClient.Service.Library.csprojAssemblyReference.cache
/MailClient.Data.Service.Library/obj/Debug/MailClient.Service.Library.csproj.FileListAbsolute.txt
/MailClient.Data.Service.Library/obj/Debug/MailClient.Service.Library.csproj.CoreCompileInputs.cache
/MailClient.Data.Service.Library/obj/Debug/MailClient.Service.Library.csproj.CopyComplete
/MailClient.Data.Service.Library/obj/Debug/MailClient.Data.Service.Library.pdb
/MailClient.Data.Service.Library/obj/Debug/MailClient.Data.Service.Library.dll
/MailClient.Data.Service.Library/obj/Debug/MailClient.Data.Service.Library.csproj.FileListAbsolute.txt
/MailClient.Data.Service.Library/obj/Debug/MailClient.Data.Service.Library.csproj.CoreCompileInputs.cache
/MailClient.Data.Service.Library/obj/Debug/MailClient.Data.Service.Library.csproj.CopyComplete
/MailClient.Data.Service.Library/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MailClient.Data.Service.Library/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/MailClient.Data.Service.Library/bin/Debug/MailClient.Service.Library.pdb
/MailClient.Data.Service.Library/bin/Debug/MailClient.Service.Library.dll.config
/MailClient.Data.Service.Library/bin/Debug/MailClient.Service.Library.dll
/MailClient.Data.Service.Library/bin/Debug/MailClient.Data.Service.Library.pdb
/MailClient.Data.Service.Library/bin/Debug/MailClient.Data.Service.Library.dll.config
/MailClient.Data.Service.Library/bin/Debug/MailClient.Data.Service.Library.dll
/MailClient.Data.Service.Library/bin/Debug/MailClient.Data.pdb
/MailClient.Data.Service.Library/bin/Debug/MailClient.Data.dll.config
/MailClient.Data.Service.Library/bin/Debug/MailClient.Data.dll
/MailClient.Data.Service.Library/bin/Debug/EntityFramework.xml
/MailClient.Data.Service.Library/bin/Debug/EntityFramework.SqlServer.xml
/MailClient.Data.Service.Library/bin/Debug/EntityFramework.SqlServer.dll
/MailClient.Data.Service.Library/bin/Debug/EntityFramework.dll
/MailClient.Data.Service.Library/bin/Debug/App.config
/MailClient.Data/obj/Debug/MailClient.Data.pdb
/MailClient.Data/obj/Debug/MailClient.Data.Library.Migrations.Initialcorrections.resources
/MailClient.Data/obj/Debug/MailClient.Data.Library.csprojAssemblyReference.cache
/MailClient.Data/obj/Debug/MailClient.Data.Library.csproj.GenerateResource.cache
/MailClient.Data/obj/Debug/MailClient.Data.Library.csproj.FileListAbsolute.txt
/MailClient.Data/obj/Debug/MailClient.Data.Library.csproj.CoreCompileInputs.cache
/MailClient.Data/obj/Debug/MailClient.Data.Library.csproj.CopyComplete
/MailClient.Data/obj/Debug/MailClient.Data.dll
/MailClient.Data/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/MailClient.Data/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/MailClient.Data/obj/Debug/.NETFramework,Version=v4.5.2.AssemblyAttributes.cs
/MailClient.Data/bin/Debug/MailClient.Data.pdb
/MailClient.Data/bin/Debug/MailClient.Data.dll.config
/MailClient.Data/bin/Debug/MailClient.Data.dll
/MailClient.Data/bin/Debug/EntityFramework.xml
/MailClient.Data/bin/Debug/EntityFramework.SqlServer.xml
/MailClient.Data/bin/Debug/EntityFramework.SqlServer.dll
/MailClient.Data/bin/Debug/EntityFramework.dll
/MailClient.Data/bin/Debug/App.config
/DevExpress.MailClient.Win/obj_netFW/Debug/TempPE/Properties.Resources.Designer.cs.dll
/DevExpress.MailClient.Win/obj_netFW/Debug/pl/DevExpress.MailClient.Win.resources.dll
/DevExpress.MailClient.Win/obj_netFW/Debug/he/DevExpress.MailClient.Win.resources.dll
/DevExpress.MailClient.Win/obj_netFW/Debug/fa/DevExpress.MailClient.Win.resources.dll
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Properties.Resources.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Properties.Resources.pl.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.pdb
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.LanguageSelectorFormExt.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.g.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.frmMain.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Forms.wfMain.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Forms.ssMain.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Forms.frmReminders.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Forms.frmReminders.he.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Forms.frmReminders.fa.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Forms.frmReminders.ar.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/devexpress.mailclient.win.exe.licenses
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.exe
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.csprojAssemblyReference.cache
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.csproj.GenerateResource.cache
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.csproj.FileListAbsolute.txt
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.csproj.CoreCompileInputs.cache
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.csproj.CopyComplete
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Controls.ucCalendar.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Controls.RibbonApplicationUserControl.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Controls.PrintControl.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Controls.PrintControl.he.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Controls.PrintControl.fa.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Controls.PrintControl.ar.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Controls.HelpControl.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Controls.ExportControl.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Controls.ExportControl.he.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Controls.ExportControl.fa.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Controls.ExportControl.ar.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DevExpress.MailClient.Win.Calendar.resources
/DevExpress.MailClient.Win/obj_netFW/Debug/DesignTimeResolveAssemblyReferencesInput.cache
/DevExpress.MailClient.Win/obj_netFW/Debug/DesignTimeResolveAssemblyReferences.cache
/DevExpress.MailClient.Win/obj_netFW/Debug/ar/DevExpress.MailClient.Win.resources.dll
/DevExpress.MailClient.Win/obj_netFW/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
/DevExpress.MailClient.Win/bin/Debug/pl/DevExpress.MailClient.Win.resources.dll
/DevExpress.MailClient.Win/bin/Debug/MailClient.Service.Library.pdb
/DevExpress.MailClient.Win/bin/Debug/MailClient.Service.Library.dll.config
/DevExpress.MailClient.Win/bin/Debug/MailClient.Service.Library.dll
/DevExpress.MailClient.Win/bin/Debug/MailClient.Data.pdb
/DevExpress.MailClient.Win/bin/Debug/MailClient.Data.dll.config
/DevExpress.MailClient.Win/bin/Debug/MailClient.Data.dll
/DevExpress.MailClient.Win/bin/Debug/Icons/Win.ico
/DevExpress.MailClient.Win/bin/Debug/Icons/Universal.ico
/DevExpress.MailClient.Win/bin/Debug/Icons/DevExpress.ico
/DevExpress.MailClient.Win/bin/Debug/he/DevExpress.MailClient.Win.resources.dll
/DevExpress.MailClient.Win/bin/Debug/fa/DevExpress.MailClient.Win.resources.dll
/DevExpress.MailClient.Win/bin/Debug/EntityFramework.SqlServer.xml
/DevExpress.MailClient.Win/bin/Debug/EntityFramework.SqlServer.dll
/DevExpress.MailClient.Win/bin/Debug/EntityFramework.dll
/DevExpress.MailClient.Win/bin/Debug/Dll/System.Data.SQLite.EF6.dll
/DevExpress.MailClient.Win/bin/Debug/Dll/System.Data.SQLite.dll
/DevExpress.MailClient.Win/bin/Debug/Dll/EntityFramework.dll
/DevExpress.MailClient.Win/bin/Debug/DevExpress.MailClient.Win.pdb
/DevExpress.MailClient.Win/bin/Debug/DevExpress.MailClient.Win.exe.config
/DevExpress.MailClient.Win/bin/Debug/DevExpress.MailClient.Win.exe
/DevExpress.MailClient.Win/bin/Debug/connectionStrings.config
/DevExpress.MailClient.Win/bin/Debug/ar/DevExpress.MailClient.Win.resources.dll
/DevExpress.MailClient.Win/bin/Debug/App.config
/.vs/Supercharger/_/DTabsHistory.dat
/.vs/DevExpress.MailClient.Win/v16/.suo
/packages/EntityFramework.6.0.2/tools/migrate.exe
/packages/EntityFramework.6.0.2/tools/install.ps1
/packages/EntityFramework.6.0.2/tools/init.ps1
/packages/EntityFramework.6.0.2/tools/EntityFramework.psm1
/packages/EntityFramework.6.0.2/tools/EntityFramework.psd1
/packages/EntityFramework.6.0.2/tools/EntityFramework.PowerShell.Utility.dll
/packages/EntityFramework.6.0.2/tools/EntityFramework.PowerShell.dll
/packages/EntityFramework.6.0.2/tools/about_EntityFramework.help.txt
/packages/EntityFramework.6.0.2/lib/net45/EntityFramework.xml
/packages/EntityFramework.6.0.2/lib/net45/EntityFramework.SqlServer.xml
/packages/EntityFramework.6.0.2/lib/net45/EntityFramework.SqlServer.dll
/packages/EntityFramework.6.0.2/lib/net45/EntityFramework.dll
/packages/EntityFramework.6.0.2/lib/net40/EntityFramework.xml
/packages/EntityFramework.6.0.2/lib/net40/EntityFramework.SqlServer.xml
/packages/EntityFramework.6.0.2/lib/net40/EntityFramework.SqlServer.dll
/packages/EntityFramework.6.0.2/lib/net40/EntityFramework.dll
/packages/EntityFramework.6.0.2/EntityFramework.6.0.2.nupkg
/packages/EntityFramework.6.0.2/content/Web.config.transform
/packages/EntityFramework.6.0.2/content/App.config.transform
/packages/EntityFramework.6.0.2/.signature.p7s
/.vs/Supercharger/MailClient.Service.Library/workbench.dat
/.vs/Supercharger/MailClient.Service.Library/rich_code_format.dat
/.vs/Supercharger/MailClient.Service.Library/global_history.dat
/.vs/Supercharger/MailClient.Service.Library/code_marker.dat
/.vs/Supercharger/MailClient.Service.Library/codemap.dat
/.vs/Supercharger/MailClient.Data.Service.Library/workbench.dat
/.vs/Supercharger/MailClient.Data.Service.Library/rich_code_format.dat
/.vs/Supercharger/MailClient.Data.Service.Library/global_history.dat
/.vs/Supercharger/MailClient.Data.Service.Library/code_marker.dat
/.vs/Supercharger/MailClient.Data.Service.Library/codemap.dat
/.vs/Supercharger/MailClient.Data.Library/workbench.dat
/.vs/Supercharger/MailClient.Data.Library/rich_code_format.dat
/.vs/Supercharger/MailClient.Data.Library/global_history.dat
/.vs/Supercharger/MailClient.Data.Library/code_marker.dat
/.vs/Supercharger/MailClient.Data.Library/codemap.dat
/.vs/Supercharger/DevExpress.MailClient.Win/workbench.dat
/.vs/Supercharger/DevExpress.MailClient.Win/rich_code_format.dat
/.vs/Supercharger/DevExpress.MailClient.Win/global_history.dat
/.vs/Supercharger/DevExpress.MailClient.Win/code_marker.dat
/.vs/Supercharger/DevExpress.MailClient.Win/codemap.dat
